.back{
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
    cursor: pointer;
}
.part1{
    width: 20%;
   
}

.part2{
    width: 60%;
 


}
.part3{
    width:20%;
  
  
}
.outerPart{
   
    display: flex;
    

}